.form-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -60%);
    width: 50%;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.form-fields {
    width: 100%;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
}

.form-field {
    margin-bottom: 20px;
}

.form-field input {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-button {
    text-align: center;
}

.form-message span {
    color: red;
}